{
  "env": {
    "node": true,
    "mocha": true
  },
  "globals":{
    "Parsimmon": true,
    "assert": true,
    "testSetScenario": true
  },
  "rules": {
    "no-invalid-regexp": ["error", {"allowConstructorFlags": ["u", "y"]}]
  }
}
